/*
 * Component: badges
**********************************************************/

// Variables
//**********************************************************


//----------------------------------------------------------

.mod_badges {

    //&.var_inline {
    //    display: flex;
    //    flex-wrap: wrap;
    //}
}

.badges_item {
   margin: rb-rem-calc(0 0 20px);
}

.badges_media {
    display: block;
    max-width: 100%;
}
