---
doc-title: Hello Baby
---
<ul class="mod_badges {{ variant }}">
    {{#each items}}
        <li class="badges_item">
            {{#if image}}
                <div class="badges_mediabox">
                    <img class="badges_media lazyload" data-src="{{ image.src }}" {{> partials/assets/image_src}} alt="{{image.alt}}" />
                </div>
            {{/if}}
        </li>
    {{/each}}
</ul>
