{
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 8,
        "modules": true
    },
    "env": {
        "browser": true
    },
    "globals": {
        "module": false,
        "require": false,
        "rb": false,
        "appGlobals": true,
        "lazySizes": false,
        "__webpack_public_path__": true
    },
    "extends": ["eslint:recommended"],
    "rules": {
        "comma-dangle": [1, "always-multiline"],
        "no-unused-vars": [2, { "argsIgnorePattern": "^_"}]
    }
}
