<!DOCTYPE html>
<html class="no-js" lang="de">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=IE7" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="docs/css/styleguide.css">

</head>
<body class="doc-page is-nav-open">
<div class="doc-page-wrapper">

    <div class="doc-page-innerwrapper">

        <aside class="doc-page-aside">
            {{> navpanel }}
        </aside>
        <main class="doc-page-main is-open" id="panel-main"  data-module="panel">
            {% body %}
        </main>
    </div>


</div>
<script src="docs/js/_styleguide.js"></script>
<script>
    (function() {
        'use strict'
        const nav = document.querySelector('.doc-navmain');
        const screensize = document.querySelector('.doc-screensize');
        const iframe = document.querySelector('.doc-page-iframe');

        function changePage(event) {
            let targetHref = event.target.getAttribute('href');
            if(targetHref) {
                iframe.src = targetHref;
            }
            event.preventDefault();
        }


        function changeScreensize(event) {
            const screensizeData = event.target.getAttribute('data-screensize');

            iframe.classList.remove('is-screensize-small', 'is-screensize-medium', 'is-screensize-large', 'is-screensize-fullsize');

            iframe.setAttribute("data-framesize", screensizeData);

            event.preventDefault();
        }

        nav.addEventListener('click', changePage, false);
        screensize.addEventListener('click', changeScreensize, false);

    })();
</script>
</body>

</html>

