/*********************************************************

Main Stylesheet
----------------------------------------------------------

**********************************************************/
// Functions / Mixins
@import "../../node_modules/rawblock/helpers";

//Settings
@import "settings/**/*.scss";

// Basic Formatting
@import "normalize.css";
@import "basics/basics";

//
//	Layout classes (.u-*)
// ---------------------
@include rb-generate-layout-utils($breakpoint-config);
@include rb-export-globaljs((
    mqs: $breakpoint-config,
    nameSeparator: $rb-name-separator,
    elementSeparator: $rb-name-separator,
    statePrefix: "is" + $rb-name-separator,
    utilPrefix: "u" + $rb-name-separator,
    //jsPrefix: "js" + $rb-name-separator,
));

// All Components
@import "../components/**/*.scss";
