<figure class="mod_blockquote {{ variant }}">
     <span class="blockquote_icon_open {{#if isScrollEntrance}}u_scrollentrance{{/if}}">
         {{> partials/assets/icons/quote_open }}
     </span>
    <blockquote class="blockquote_hook {{#if isScrollEntrance}}u_scrollentrance{{/if}}">
        {{ hook }}
    </blockquote>
    <figcaption class="blockqoute_footer {{#if isScrollEntrance}}u_scrollentrance{{/if}}">
        <cite class="blockqoute_cite">{{ author }}</cite>
        <span class="blockquote_extra">{{ additional }}</span>
    </figcaption>
    <span class="blockquote_icon_close {{#if isScrollEntrance}}u_scrollentrance{{/if}}">
        {{> partials/assets/icons/quote_close }}
    </span>
</figure>

