<!DOCTYPE html>
 <html class="no-js" lang="de">
    <head itemscope itemtype="http://schema.org/WebSite">
        {{> meta_data }}
        {{> app_icons }}
        {{> head_assets }}
    </head>
    <body class="rb-page" {{#if schemaPage}}itemscope itemtype="https://schema.org/{{schemaPage}}"{{/if}}>
        <script> /* block CSS */ </script>
        <div id="root"></div>
        {% body %}
    </body>

</html>
