<!DOCTYPE html>
<html class="no-js" lang="de">
<head itemscope itemtype="http://schema.org/WebSite">

    <link rel="stylesheet" href="docs/css/styleguide.css">

</head>
<body class="doc-page is-nav-open">
<div class="doc-wrapper">
    <header class="doc-header" role="banner">
        <div class="doc-logo">

        </div>
    </header>

    <div class="doc-innerwrapper">
        <button class="doc-nav-button">button</button>
        <aside class="doc-aside">
            <header class="doc-aside-header">
                <ul class="doc-screensize">
                    <li class="doc-screensize-item is-small">
                        <button class="doc-screensize-button">Small</button>
                    </li>
                    <li class="doc-screensize-item is-medium">
                        <button class="doc-screensize-button">Medium</button>
                    </li>
                    <li class="doc-screensize-item is-large">
                        <button class="doc-screensize-button">Large</button>
                    </li>
                    <li class="doc-screensize-item is-fullsize">
                        <button class="doc-screensize-button">Fullsize</button>
                    </li>
                </ul>
            </header>
            <ul class="doc-nav">
                <li class="doc-nav-item">
                    <h3>Pages</h3>
                    <ul class="doc-nav">
                        <li class="doc-nav-item">
                            <a href="doc_rb_button.html" class="doc-nav-link">Page number 1</a>
                        </li>
                        <li class="doc-nav-item">
                            <a href="#" class="doc-nav-link">Page number 1</a>
                        </li>
                        <li class="doc-nav-item">
                            <a href="#" class="doc-nav-link">Page number 1</a>
                        </li>
                        <li class="doc-nav-item">
                            <a href="#" class="doc-nav-link">Page number 1</a>
                        </li>
                        <li class="doc-nav-item">
                            <a href="#" class="doc-nav-link">Page number 1</a>
                        </li>
                        <li class="doc-nav-item">
                            <a href="#" class="doc-nav-link">Page number 1</a>
                        </li>
                        <li class="doc-nav-item">
                            <a href="#" class="doc-nav-link">Page number 1</a>
                        </li>
                    </ul>
                </li>
                <li class="doc-nav-item">
                    <h3>Components</h3>
                    <ul class="doc-nav">
                        <li class="doc-nav-item">
                            <a href="#" class="doc-nav-link">Page number 1</a>
                        </li>
                        <li class="doc-nav-item">
                            <a href="#" class="doc-nav-link">Page number 1</a>
                        </li>
                        <li class="doc-nav-item">
                            <a href="#" class="doc-nav-link">Page number 1</a>
                        </li>
                        <li class="doc-nav-item">
                            <a href="#" class="doc-nav-link">Page number 1</a>
                        </li>
                        <li class="doc-nav-item">
                            <a href="#" class="doc-nav-link">Page number 1</a>
                        </li>
                        <li class="doc-nav-item">
                            <a href="#" class="doc-nav-link">Page number 1</a>
                        </li>
                        <li class="doc-nav-item">
                            <a href="#" class="doc-nav-link">Page number 1</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>
        <main class="doc-main">
            {% body %}
        </main>
    </div>


</div>
<script>
    (function() {
        'use strict'
        const docNavBtn = document.querySelector('.doc-nav-button');
        const docNav = document.querySelector('.doc-nav');
        const docScreensize = document.querySelector('.doc-screensize');
        const docIframe = document.querySelector('.doc-iframe');

        function changePage(event) {
            let targetHref = event.target.getAttribute('href');
            if(targetHref) {
                docIframe.src = targetHref;
            }
            event.preventDefault();
        }

        function changeScreensize(e) {

        }

        function toggleMenu(e) {
            document.body.classList.toggle('is-nav-open');
            e.preventDefault()
        }

        docNav.addEventListener('click', changePage, false);
        docScreensize.addEventListener('click', changeScreensize, false);
        docNavBtn.addEventListener('click', toggleMenu, false);

    })();
</script>
</body>

</html>

