<!DOCTYPE html>
<html class="no-js" lang="de">
<head itemscope itemtype="http://schema.org/WebSite">

    <link rel="stylesheet" href="docs/css/styleguide.css">
</head>
<body class="doc-page">
<div class="doc-wrapper">
    <header class="doc-header" role="banner">
        <div class="doc-logo">

        </div>
    </header>

    <div class="doc-innerwrapper">
        <aside class="doc-aside">
            <div style="width: 100%; height: 30vh; background: green;">

            </div>
        </aside>
        <main class="doc-main">
            {% body %}
        </main>
    </div>


</div>
</body>

</html>

