<!DOCTYPE html>
 <html class="no-js" lang="de">
    <head>
        {{> meta_data }}
        {{> head_assets }}
        <link rel="stylesheet" href="docs/css/styleguide.css">
    </head>
    <body class="rb-page">
        <div class="page-wrapper">


            <main class="page-main" id="main-content" role="main" tabindex="-1">
               {% body %}
            </main>

        </div>

        {{> body_assets}}
    </body>

</html>
