/*
 * Component: Button
**********************************************************/


// Variables
//**********************************************************


// Dependencies (Helpers)
//**********************************************************


//----------------------------------------------------------

.mod_button {
    display: inline-block;
    position: relative;
    min-width: rb-rem-calc(200px);
    padding: rb-rem-calc(22px 20px);
    border-radius: rb-rem-calc(3px);
    border: none;
    font: 600 rb-rem-calc(15px)/1.1 $font-sans-serif;
    text-align: center;
    color: $color-zurich;
    background: $color-lissabon;
    transition: all 400ms ease;

    @include rb-respond-to(xl) {
        @include fluid-type-range(font-size, 15px, 18px, 1441px, 1920px);
    }

    @include rb-respond-to(xxl) {
        font-size: rb-rem-calc(18px);
    }

    &:hover:not([disabled]),
    &:focus:not([disabled]) {
        cursor: pointer;
        background: $color-berlin;
    }

    //&:not(a:link) TODO
    &[disabled] {
        cursor: not-allowed;
        opacity: 0.3;
        outline: none;
    }

    &.var_stretched {
        display: block;
        width: 100%;
    }

    &.var_line {
        border: rb-rem-calc(1px) solid $color-lissabon;
        color: $color-amsterdam;
        background: $color-zurich;

        &:hover:not([disabled]),
        &:focus:not([disabled]) {
            border-color: $color-berlin;
            color: $color-berlin;
            background: none;
        }
    }

    &.var_primary {
        background: #00f;

        &:hover:not([disabled]),
        &:focus:not([disabled]) {
            background: #00007e;
        }
    }

    &.is_secondary {
        background: #0af;

        &:hover:not([disabled]),
        &:focus:not([disabled]) {
            background: #007fba;
        }
    }

    &.var_success {
        background: #22bd5e;

        &:hover:not([disabled]),
        &:focus:not([disabled]) {
            background: #1b8643;
        }
    }

    &.var_danger {
        background: #f01;

        &:hover:not([disabled]),
        &:focus:not([disabled]) {
            background: #b01;
        }
    }

    &.var_warning {
        background: #faa732;

        &:hover:not([disabled]),
        &:focus:not([disabled]) {
            background: #b37827;
        }
    }
}
